@{
    ViewBag.Title = "Contact";
}

<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
                <div class="col-1" style="margin-left: 25%">
                    <img src="~/Loregas, Kay Shamir - Copy.jpg" class="rounded-circle" height="200px" />
                </div>
            </div>
            <div class="col-md-4">
                <h5>Loregas, Kay Shamir</h5>
            </div>
            <div class="col-md-4">
                <!-- Third column content goes here -->
            </div>
        </div>
    </div>
</body>

@*
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</main>*@