
@{
    ViewBag.Title = "Customer";
}
<span>
    <button type="button" class="btn float-start" id="btnBack">
        <img src="~/🦆 icon _arrow back outline_.svg" alt="Edit" style="width: 40px; height: 50px; margin-top: 30%; margin-right: 10px" />
    </button>
</span>
<form enctype="multipart/form-data" oninput="cuss_pass2.setCustomValidity(cuss_pass2.value != cus_pass.value ? 'Password do not match.' : '')">
    &nbsp;<h2 style="margin-left:18%">Complete your Registration</h2>
    <br />
    <div class="form-control" style="width: 700px; margin-left: 200px">
        <div class="row">
            <div class="col ;form-control">
                First Name<input type="text" id="cus_firstname" class="form-control" placeholder="ex: Juan " />
                Last Name<input type="text" id="cus_lastname" class="form-control" placeholder="ex: Dela Cruz " />
                Birthdate<input type="date" class="form-control" id="cus_birthdate" />
                Address<input type="text" class="form-control" id="cus_address" />
            </div>
            <div class="col">
                Phone Number<input type="number" class="form-control" placeholder="ex: 09123456789" id="cus_number" />
                Email Address<input type="email" id="cus_email" class="form-control" placeholder="ex: juandelacruz@email.com " required />
                Password<input type="password" id="cus_pass" name="cus_pass" class="form-control" />
                Confirm Password<input type="password" id="cus_pass2" name="cuss_pass2" class="form-control" />
                <br /><button class="btn btn-primary" style="margin-left:35%; margin-bottom:5%" id="btn_submit">Submit</button>
            </div>
        </div>
    </div>
</form> 

<script src="~/Scripts/Jquery/jquery-3.7.1.min.js"></script>
<script src="~/Scripts/MyJquery/Customer.js"></script>