@{
    ViewBag.Title = "Login_Page";
}
<style>
    .bg-brown {
        background-color: #5c3832;
    }
    .bg-brown-color {
        color: #ffffff;
    }
    .bg-lbrown {
        border-color: #5c3832;
        color: #5c3832;
    }
</style>

<form style="background-color: #e5d2c4 ">
    <div class="row">
        <div class="col-6" style="background-color: #e5d2c4">
            <img src="~/image_2024-05-31_031106456-ai-brush-removebg-hc1hd20i.png" height="580px" style="margin-top: -6%; margin-left: 10%" />
        </div>
        <div class="col-6">
            <div style="width: 400px; margin-left: 100px; height:fit-content">
                <div class="row">
                    <div class="col">
                        <br /> <br /> <br /> <br />
                        <h2>Bragz Shoes </h2><br />
                        Username<input type="text" id="cus_email" class="form-control" placeholder="juandelacruz@email.com " required />
                        Password<input type="password" id="cus_pass" name="cus_pass" class="form-control" required /><br />
                        <button type="button" class="btn bg-brown bg-brown-color fw-semibold" id="btn_submit">Login</button>&nbsp;&nbsp;
                        <button type="button" class="btn bg-lbrown fw-semibold" id="btnCreate">Create an Account?</button>
                        <br /> <br /><br /> <br /><br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<br />

<script src="~/Scripts/Jquery/jquery-3.7.1.min.js"></script>
<script src="~/Scripts/MyJquery/Login.js"></script>
