
@{
    ViewBag.Title = "Login_Page";
}
<form class="container">
    <div class="row">
        <div class="col-6" style="background-color: #2457C5">
            <br /><br /><br /><br /><br /><br /><br /><br />
        </div>
        <div class="col-6">
            <div style="width: 400px; margin-left: 100px; height:fit-content">
                <div class="row">
                    <div class="col">
                        <br /> <br /> <br /> <br />
                        <h2 class="text-center text-center" style="margin-left: -30%">Login</h2>
                        Username<input type="text" id="cus_email" class="form-control" placeholder="juandelacruz@email.com " required />
                        Password<input type="password" id="cus_pass" name="cus_pass" class="form-control" required />
                        <br /> <br /><br /> <br /><br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<br />
<button class="btn btn-primary" style="margin-left:26%; margin-top:-25%" id="btn_submit">Submit</button>


<script src="~/Scripts/Jquery/jquery-3.7.1.min.js"></script>
<script src="~/Scripts/MyJquery/Login.js"></script>