
@{
    ViewBag.Title = "Product_Details";
}

<h2>Product Details</h2>
<div>
    <img id="productImage" src="" alt="Product Image" />
    <h3 id="productName"></h3>
    <p><strong>Price:</strong> ₱<span id="productPrice"></span></p>
    <p><strong>Stocks:</strong> <span id="productStocks"></span></p>
    <p><strong>Gender:</strong> <span id="productGender"></span></p>
    <p><strong>Color:</strong> <span id="productColor"></span></p>
    <p><strong>Size:</strong> <span id="productSize"></span></p>
    <p><strong>Material:</strong> <span id="productMaterial"></span></p>
    <p><strong>Category:</strong> <span id="productCategory"></span></p>
    <p><strong>Description:</strong> <span id="productDescription"></span></p>
</div>

